.city {
    background-color: #e7e7e7; 
    border: 2px #e7e7e7;
    font-size: 20px;
    width: 200px;
    display: block

    
}

#green {
    background-color: green;
    border: 2px solid green;
    width: 124px;
    height: 24px;
    color: white;
}

#yellow {
    background-color: yellow;
    border: 2px solid yellow;
    width: 124px;
    height: 24px;
    color: black;
}

#red {
    background-color: red;
   border: 2px solid red; 
   width: 124px;
   height: 24px;
   color: white;
}

#uvboxsize {
    border: 1px solid black;
    margin: 35px;

}

#city-form {
    font-size: 12px;
}

.currentDay {
    font-size: 30px;
    color: black;
    text-emphasis: bold 1px;

}